a {
  text-decoration: none;
  color: black;
}

.active {
  background-color: green;
  color: white;
}

.context-active {
  color: grey;
}

nav {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.static {
  font-size: 1.5em;
  padding: 0.5em 0.5em;
}

.static:hover {
    background-color: darkgreen;
}

.static a {
  padding-left: 2em;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 1.5em;
}

.static a:hover {
  color:white;
}

.contextual {
  font-size: 1.2em;
}

.contextual a {
  width:100%;
}

.story {
  background-image: url('/assets/design/story.svg');
}

.tales {
  background-image: url('/assets/design/tales.svg');
}

.gallery {
  background-image: url('/assets/design/gallery.svg');
}

.separator {
  background-image: url('/assets/design/separator.svg');
  background-repeat: repeat-x;
  height: 1em;
  margin: 1em 0;
}
